.accordion{
    color:black;
}
.accordion-button{
    color:black;
    background: rgb(255, 255, 255);
    font-size: calc(7px + 2vmin);
}
@media(max-width: 576px){
    .accordion-button{        
        font-size: calc(12px + 2vmin);
    }
}
.accordion-collapse{
    font-size: calc(5px + 2vmin);
}
@media(max-width: 576px){
    .accordion-collapse{
        font-size: calc(10px + 2vmin);
    }
}
.button.accordion-button{
    color:black;
    background: rgb(255, 255, 255);
}
.faqBg{
    height: 100vh;
    padding-left: 100px;
    padding-right: 100px;    
    padding-top: 50px;
    padding-bottom: 50px;
    overflow:auto;
    background-size:cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-image:url("https://github.com/astrolexa/img/blob/master/elsatse88.blogspot-1.jpg?raw=true");
}
@media(max-width: 576px){
    .faqBg{
        padding-left: 10%;
        padding-right: 10%; 
    } 
}
.titleFaq{
    margin-top: 20px;
    margin-bottom: 50px;
}
.accordion{
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1000px;
    opacity: 0.8;
    border-color: black;
}
.accordion-item{
    margin: 0 auto;
    margin-top: 30px;
}