.Tourwrap{
    height: 100vh;
    overflow:auto;
    background-size:cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-image:url("https://github.com/astrolexa/img/blob/master/elsatse88.blogspot-1.jpg?raw=true");
}